@model IEnumerable<DungeonMasterData.Models.Character>

@{
    ViewBag.Title = "Index";
}

<style>
    a:hover {
        text-decoration: double;
        color:lightcoral !important;
    }

    body {
        margin-top: 100px;
        /*let intellisense do everything for you with this!!!!!*/
        background-image: url("../../Images/grass.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #Contain {

        margin-bottom: 10px;
        background-color: black;
        padding: 10px;
        border: groove;
        color: lime;
        font-family: monospace;
    }

    #DescCont {
        padding-top:60px;
    }

    #MoneyRow {
        padding-top: 60px;
    }

    #StatCont {
        padding-top: 60px;
        padding-bottom: 10px;
    }

    #INTSPEED {
        padding-top:10px;
        padding-bottom:10px;
    }
    div[target] {
        text-align: center;
        color: black;
        border: solid;
        border-right-color: darkslategray;
        border-bottom-color: darkslategray;
        background-color: white;
    }
    #DeleteButton {
        text-align:right;
        margin-top:10px;
    }

    .Delete:hover {
        color:darkred !important;
    }

    #EditButton {
        margin-top:10px;
    }
    
    .Delete {

        color:red;
        padding:5px;
    }

    .a {
        color:black !important;
    }

    #OpenButton {
        margin-top:10px;
    }
</style>


@foreach (var item in Model)
{
<div id="Contain">
    <div class="row" id="NameRow">
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col-md-1" target="_blank">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Owner)
        </div>
        <div class="col-md-1" target="_blank">
            @Html.DisplayFor(modelItem => item.Owner)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Age)
        </div>
        <div class="col-md-1" target="_blank">
            @Html.DisplayFor(modelItem => item.Age)
        </div>
    </div>

    <div class="row" id="DescCont">
        <div class="col-md-2">
            @Html.DisplayNameFor(model => model.CharDesc)
        </div>
        <div class="col-md-5" target="_blank">
            @Html.DisplayFor(modelItem => item.CharDesc)
        </div>
    </div>

    <div class="row" id="MoneyRow">
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Plat)
        </div>
        <div class="col-md-1" target="_blank">
            @Html.DisplayFor(modelItem => item.Plat)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Gold)
        </div>
        <div class="col-md-1" target="_blank">
            @Html.DisplayFor(modelItem => item.Gold)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Silver)
        </div>
        <div class="col-md-1" target="_blank">
            @Html.DisplayFor(modelItem => item.Silver)
        </div>
        <div class="col-md-1">
            @Html.DisplayNameFor(model => model.Copper)
        </div>
        <div class="col-md-1" target="_blank">
            @Html.DisplayFor(modelItem => item.Copper)
        </div>
    </div>


    <div id="StatCont">
        <div class="row">
            <div class="col-md-1">
               Str
            </div>
            <div class="col-md-1" target="_blank">
                @Html.DisplayFor(modelItem => item.Str)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Luck)
            </div>
            <div class="col-md-1" target="_blank">
                @Html.DisplayFor(modelItem => item.Luck)
            </div>
        </div>

        <div class="row" id="INTSPEED">
            <div class="col-md-1">
                Int
            </div>
            <div class="col-md-1" target="_blank">
                @Html.DisplayFor(modelItem => item.Int)
            </div>

            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Speed)
            </div>
            <div class="col-md-1" target="_blank">
                @Html.DisplayFor(modelItem => item.Speed)
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                Dex
            </div>
            <div class="col-md-1" target="_blank">
                @Html.DisplayFor(modelItem => item.Dex)
            </div>

            <div class="col-md-1">
                Char
            </div>
            <div class="col-md-1" id="DataChar" target="_blank">
                @Html.DisplayFor(modelItem => item.Charisma)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1" id="EditButton"> @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class = "Edit" })</div>
        <div class="col-md-1" id="OpenButton">@Html.ActionLink("Bag", "CheckItems", "Bags", new { id = item.Id }, new { @class = "Bag" })</div>
        <div class="col-md-10" id="DeleteButton"> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "Delete" })</div>
    </div>
</div>
            }

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            @*<img src="~/Images/goblin.jpg" />*@
